/*.form-group {
  display: flex;
  gap: 10px;
}

.form-group .form-control {
  flex: 1;
  width: 300px;
}

.endereco .form-select {
  max-width: 610px;
}


body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to top right, #2E8B57, #87CEFA);
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.15); 
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px); 
}
*/